
body {
    background: #000000;
    color: #ffffff;

}

header {
 /* background: #FF0000; */
 
 /* display: flex;
 align-items: baseline;
 justify-content: space-around;
 gap: 0; */

 width: fit-content;
 margin-inline: auto;

}

header * {
  height: fit-content;
}

header h1 {
  font-size: 6rem;

  width: fit-content
}

#inputPrompt {
  font-size: 3rem;

  height: fit-content;
  border-radius: 20px;
}

.shoppingList {
  padding-left: 0;
}

.item {
  display: flex;
  align-items: center;
  background-color: #005400;
  padding: 10px;
  margin-bottom: 5px;
}

.item button {
  position: absolute;
  right: 0px;
}