
/* GENERAL STUFF */

.buttonWithLogo {
  background-color: inherit;
  height: 4.5vh;
  width: 4.5vh;

  padding: 0;
  border: #FFFFFF solid .1rem;
  border-radius: 100%;
}

.buttonWithLogo img {
  width: 60%;
  height: 60%;
  padding: 20%
}



/* MAIN PART */

body {
  background: #141218;
  color: #ffffff;

  font-family: Arial;
}


header {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100vw;
  margin-top: 5vh;
  margin-bottom: 3rem;
}

#inputPrompt {
  font-size: 2.5rem;
  text-align: center;

  width: 25rem;
  height: 3rem;
  border-radius: .7rem;
  margin-inline: 4rem 1.5rem;
}

.removeBoughtItems {
  background: #8610d4;

}



#shoppingList {
  width: fit-content;
  padding: 0;
  margin-inline: auto;
}

.item {
  background-color: #005400;

  font-size: 3rem;

  display: grid;
  grid-template-columns: 8vh 40%  min-content auto;
  align-items: center;

  width: 90vw;
  height: min-content;
  border-radius: 4.5rem;
  padding-inline: 1rem;
  margin-bottom: 1.4rem;
}

/* .item > * {
  font-size: 4vh;

  /* width: 7vh; */
} */

.checked {
  background-color: #053305bd;
}

.item p {
  word-wrap: break-word;
}


.buttonGroup {
  justify-self: right;
  display: flex;
  gap: .5rem;
}






/* 
body {
    background: #141218;
    color: #ffffff;

    font-family: Arial;
}

header {
 width: fit-content;
 margin-inline: auto;

}

header * {
  display: flex;

  height: fit-content;
  margin-top: 10%;
}


#inputPrompt {
  background: var(--m-3-sys-dark-surface-container-high, #2B2930);
  color: #FFFFFF;
  font-size: 2rem;

  display: flex;
  align-items: center;
  gap: 0.25rem;

  width: 38.125rem;
  height: 4rem;
  padding-left: 1rem;
  border-radius: 28px;
}



#shoppingList {
  font-size: 2rem;

  width: 70%;
  padding-inline-start: 0;
  margin-inline: auto;
}

.item {
  background: #2B2930;

  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 3rem;
  padding: 10px;
  border-radius: 30px;

  margin-bottom: 1.2rem;
}


.buttonGroup button{
  background-color: inherit;
  color: red;
  width: 2rem;
  height: 2rem;
}

.checked {
  background-color: #1165113f;
} */
